
.f1_logo {
    background-image: url(../files/2014-fia-formula-one.png);
    background-position: center;
    background-attachment: fixed;
}

.f1_flag_b_w {
    background-image: url(../files/f1-racing-flag-1370.png);
    background-position: center;
    background-attachment: fixed;
}

