<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Driver Standings</title>
</head>
<body>

<table th:action="@{/__${idSeason}__/__${roundRace}__/driverStandings}">
    <tr>
        <th>Position</th>
        <th>Driver Name</th>
        <th>Driver Surname</th>
        <th>Constructor</th>
        <th>Points</th>
        <th>Wins</th>
        <th> More Information</th>

    </tr>
    <tr
            th:each="driver, iStanding: ${driverStandings}"
            th:style="${iStanding.odd}? 'font-weight: bold;'"
            th:alt-title="${iStanding.even}? 'even' : 'odd'">
        <td th:text="${driver.positionText}"/>
        <td th:text="${driver.driver.givenName}"/>
        <td th:text="${driver.driver.familyName}"/>
        <td th:each="constructor, iStanding: ${driver.constructors}" >
                <div th:text="${constructor.name}" />
        <td/>
        <td th:text="${driver.points}"/>
        <td th:text="${driver.wins}"/>
        <td><a th:href="${driver.driver.url}" >More info</a><td/>

    </tr>

</table>

<a th:href="@{/__${idSeason}__}" >Return to season</a>

</body>
</html>