<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Season Schedule</title>
</head>
<body>

<table>
    <th>
        <tr>Season Year</tr>
        <tr>Round</tr>
        <tr>Race Name</tr>
        <tr>Grand Prix Date</tr>
        <tr>Grand Prix Time</tr>
        <tr>Name Circuit</tr>
        <tr>More Information</tr>
        <tr>Race results</tr>
        <tr>Driver standings</tr>
        <tr>Constructor standings</tr>
    </th>
    <tr
            th:each="schedule, iSeason: ${season}"
            th:style="${iSeason.odd}? 'font-weight: bold;'"
            th:alt-title="${iSeason.even}? 'even' : 'odd'">
        <td th:text="${schedule.season}" />
        <td th:text="${schedule.round}" />
        <td th:text="${schedule.raceName}" />
        <td th:text="${schedule.date}" />
        <td th:text="${schedule.time}" />
        <td th:text="${schedule.circuit.circuitName}" />
        <td><a th:href="${schedule.url}" >More info</a><td/>
        <td><a th:href="@{/__${schedule.season}__/__${schedule.round}__/results}" >Race results</a></td>
        <td><a th:href="@{/__${schedule.season}__/__${schedule.round}__/driverStandings}" >Driver standings</a></td>
        <td><a th:href="@{/__${schedule.season}__/__${schedule.round}__/constructorStandings}" >Constructor standings</a></td>

    </tr>


</table>

<a th:href="@{/}" >Return index</a>

</body>
</html>